@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #fcb72b;
  --light-yellow-color: #fff4df;
  --dark-navy-color: #495567;
  --dim-grey-color: #939caa;
  --light-grey-color: #e5ecf4;
  --snow-color: #f2f5f9;
  --white-color: #ffffff;
}

body {
  scroll-behavior: smooth;
  background-color: var(--white-color);
  color: var(--dark-navy-color);
  width: 100%;
}

@layer base {
  .heading-1 {
    @apply text-dark text-[56px] font-space-mono font-bold tracking-[-2.5px] leading-[56px];
  }
  .heading-2 {
    @apply text-dark text-[48px] font-space-mono font-bold tracking-[-2.14px] leading-[48px];
  }
  .heading-3 {
    @apply text-dark text-[40px] font-space-mono font-bold tracking-[-1.79px] leading-[48px];
  }
  .heading-4 {
    @apply text-dark text-[24px] font-space-mono font-bold tracking-[-1.07px] leading-[28px];
  }
  .text-style {
    @apply text-dark text-[15px] font-lexend-deca font-normal leading-[25px];
  }
}
